.rowC{
    display: inline-flex; 
    flex-direction:row;
    width: 100%;
    float: top;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 25px;
    padding-left: 5%;
    padding-top: 1%;
    
}
.container{
    position: absolute;
}

.navItem{
    padding-right: 15px;
}

a{
    color: whitesmoke;
}